.App {
  text-align: center;
}

.container121 {
  margin: 20px auto;
  position: relative;
  height: 400px;
  width: 600px;
  overflow: hidden;
  z-index: 1111111;
}
html, body {
  height: auto !important;
background-color: #ecf0fd;
z-index: -1;
}

@media(max-width: 576px){
  .container121 {
    margin: 80px auto;
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    z-index: 55555555555;
  }
  /* .container121 {
    margin: 100px auto;
    position: relative;
    height:400px;
    width: 98%;
    overflow: hidden;
    z-index: 1111111;
  } */
}